[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "roistats"]
	path = roistats
	url = https://github.com/irisfee/roistats
	shallow = true
	registered = true
